/venv

logs 
*.log 

# Игнорирование каталога со сборкой проекта
#/dist 

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для IDE 
.idea/ 
.vscode/ 
*.sw*
*.log
*.pot
#*.pyc
#__pycache__/
local_settings.py